footer {
  background-color: aquamarine;
  height: var(--footer-height);
  padding: 0.5rem;
}

.contact {
  display: flex;
  justify-content: space-between;
}

.social {
  margin: 0.5rem 0 0 0;
  display: flex;
  justify-content: flex-end;
}

.fbLogo {
  width: 2rem;
  height: 2rem;
}
