* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-text);
    font-size: 100%;
    font-size: var(----font-size-text-normal);
    line-height: 1.5;
}

.page-title {
    text-align: center;
    padding: 2rem;
    font-family: var(--font-title);
    font-weight: var(--weight-title);
}

form {
    margin: auto;
    width: 50%;
    padding: 1.5rem;
    
}

label, legend {
    display: block;
    padding: 0.5rem;
    font-family: var(--font-text);
    font-size: 1.2rem;
}

input, textarea, select {
    width: 100%;
    max-width: 100%;
    font-size: var(--font-size-text-normal);
}

input {
    height: 2rem;
}

textarea {
    height: 8rem;
}

.recipe-button {
    text-align: center;
    padding: 0.5rem;
}

.add-step {
    display: block;
    text-align: center;
    padding: 0.5rem;
    margin: auto;
}

.recipe-step2, .recipe-step3, .recipe-step4, .recipe-step5 {
    display: none;
}

.budget, .difficulty {
    display: flex;
}

.recipe_info {
    display: block;
    
}

.budget input, .difficulty input {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    align-self: center;
}

.img {
    width: 50px;
}

.euro {
    font-size: 2rem;
    font-weight: bold;
    color: var(--second-color);
}

.text {
    height: 2rem;
    padding: 0.2rem;
    border-radius: 0;
    box-shadow: 0px 2px 5px 0 rgba(34, 68, 123, 0.2);
    border: 1px solid var(--second-color);
}

textarea {
    height: 7rem;
    padding: 0.2rem;
    border-radius: 0;
    box-shadow: 0px 2px 5px 0 rgba(34, 68, 123, 0.2);
    border: 1px solid var(--second-color);
}

select {
    height: 2rem;
    padding: 0.2rem;
    border-radius: 0;
    box-shadow: 0px 2px 5px 0 rgba(34, 68, 123, 0.2);
    background-color: rgba(255, 255, 255, 0.959);
    border: 1px solid var(--second-color);
}

.add-step {
    border: none;
    background-color: var(--main-color);
    color: var(--second-color);
    cursor: pointer;
    font-size: var(--font-size-title);
}

.submit-button {
    border-radius: 30px;
    border: 2px solid var(--second-color);
    color: var(--second-color);
    background-color: var(--main-color);
    font-size: var(--font-size-text-normal);
    font-weight: bolder; 
    padding: 0.4rem;
    cursor: pointer;
}

/* .error {
    position: absolute;
    top: 5rem;
    left: 35% ;
    z-index: 1;
    max-width: 30%;
    text-align: center;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: aliceblue;
} */

/* USERS RECIPES PAGE*/

.recipe_card {
    border: solid 1px var(--second-color);
    border-radius: 4px;
    padding-bottom: 1rem;
    margin: 1rem auto 1rem auto;
    font-family: var(--font-text);
    font-size: var(--font-size-text-normal);
}

.recipe_title {
    text-align: center;
    font-size: var(--font-size-title);
    font-family: var(--font-title);
}

.recipe_autor {
    display: block;
    text-align: center;
    margin-top: -1.2rem;
}

.infos_list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.recipe-time {
    align-items: center;
    font-size: 1.2rem;
    font-weight: bolder;
    color: var(--second-color);
    font-family: var(--font-text);
}

.user_ingredients {
    font-weight: lighter;
}

.bon-appetit {
    display:block;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: var(--font-title);
}

@media screen and (min-width: 915px) {
    .recipe_info {
        display: flex;
        justify-content: space-evenly;
    }
}