* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-title {
    text-align: center;
    padding: 2rem;
}

form {
    margin: auto;
    width: 50%;
    background-color: bisque;
    padding: 3rem;
}

label, legend {
    display: block;
    padding: 0.5rem;
}

input, textarea, select {
    width: 100%;
    border-radius: 5px;
    max-width: 100%;
}

input {
    height: 2rem;
}

textarea {
    height: 8rem;
}

.recipe-button {
    text-align: center;
    padding: 0.5rem;
}

.add-step {
    display: block;
    text-align: center;
    padding: 0.5rem;
    margin: auto;
}

.recipe-step2, .recipe-step3, .recipe-step4, .recipe-step5 {
    display: none;
}

.budget, .difficulty {
    display: flex;
}

.recipe_info {
    display: block;
    
}

.budget input, .difficulty input {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    align-self: center;
}

.error {
    position: absolute;
    top: 5rem;
    left: 35% ;
    z-index: 1;
    max-width: 30%;
    text-align: center;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: aliceblue;
}

/* USERS RECIPES PAGE*/

.recipe_card {
    border: solid 1px var(--second-color);
    padding-bottom: 1rem;
    margin: 1rem auto 1rem auto;
}

.recipe_title {
    text-align: center;
}

.recipe_autor {
    display: block;
    text-align: center;
    margin-top: -1.2rem;
}

.user_ingredients {
    font-weight: lighter;
}

@media screen and (min-width: 915px) {
    .recipe_info {
        display: flex;
        justify-content: space-evenly;
    }
}