:root {
  --main-color: #fffbf5;
  /* --second-color: #d3c0a4; */
  --second-color: #463f35;
  --third-color: lightblue;
  --text-color-light: #fffbf5;
  --text-color-dark: #362f24;
  --font-title: "Roboto Slab", serif;
  --weight-title: 900;
  --font-text: "Roboto", sans-serif;
  --font-size-title: 2rem;
  --font-size-text-normal: 1rem;
  --font-size-text-small: 0.5rem;
  --small-space: 0.5rem;
  --big-space: 1.5rem;
  --nav-height-small: 45px;
  --nav-height-big: 54px;
  --footer-height-small: 100px;
  --footer-height-big: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #fffbf5;
  min-height: 100%;
}
