:root {
  --main-color: pink;
  --second-color: lightgray;
  --third-color: lightblue;
  --text-color-light: lightgray;
  --text-color-dark: rgb(39, 39, 39);
  --font-title: "Roboto", sans-serif;
  --font-text: "Roboto", sans-serif;
  --font-size-title: 2rem;
  --font-size-text-normal: 1rem;
  --font-size-text-small: 0.5rem;
  --small-space: 0.5rem;
  --big-space: 1.5rem;
  --nav-height: 3.5rem;
  --footer-height: 3.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
